@import './variables.scss';

@font-face{
  font-family:'Shrikhand';
  src: url('./fonts/shrikhand/Shrikhand-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

body{
  display: flex;
  flex-direction: row;
  margin: 0px;
  height: 100vh;
  overflow-y: hidden;

  header{
    border-right: 1px solid $primary;
    width: 20%;
    min-width: 200px;
    font-family: 'Shrikhand', 'roboto', Impact, 'Arial Narrow Bold', sans-serif;


    .nameCard{
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-direction: column;
      border-bottom: 1px solid $primary;
      height: 150px;
      background-color: $primary;

      h1{
        font-size: 3vw;
      }

      .version{
        font-family: 'roboto';
        font-size: 0.5vw;
      }
    }

    nav{
      border-bottom: 1px solid $primary;
      height: 500px;

      .blocNav{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 100%;
        background-color: $secondary;
        padding-left: 10px;

          a{
            display: flex;
            justify-content: space-around;
            align-items: center;
            // border: 1px solid white;
            height: 15%;
            width: 80%;
            // color: $tertiary;
          }

          .icon{
            font-size: 30px;
            color: $tertiary;
          }

          .hidden{
            display: none;
          }
      }
    }

    .information{
      padding: 20px;
      font-size: 1vw;
      font-family: 'roboto';
    }
  }

  main{
    width: 80%;

    #acceuilHead{
      display: flex;
      align-items: center;
      padding-left: 100px;
      height: 110px;
      border-bottom: 1px solid $primary;
      background-color: $secondary;
      font-family: 'Shrikhand', 'roboto', Impact, 'Arial Narrow Bold', sans-serif;

    }

    #acceuilContent{
      padding-left: 100px;
      padding-top: 100px;
      height: 90%;
      overflow: scroll;
      scrollbar-color: $primary $secondary;
      scrollbar-width: thin;
    }
  }
}

