@import './variables.scss';

@font-face{
  font-family:'Shrikhand';
  src: url('./fonts/shrikhand/Shrikhand-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

body{
  display: flex;
  flex-direction: row;
  margin: 0px;
  height: 100vh;
  overflow-y: hidden;

  header{
    border-right: 1px solid $primary;
    width: 20%;
    min-width: 200px;
    font-family: 'Shrikhand', 'roboto', Impact, 'Arial Narrow Bold', sans-serif;


    .nameCard{
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-direction: column;
      border-bottom: 1px solid $primary;
      height: 150px;
      background-color: $primary;

      h1{
        font-size: 3vw;
      }

      .version{
        font-family: 'roboto';
        font-size: 0.5vw;
      }
    }

    nav{
      border-bottom: 1px solid $primary;
      height: 500px;

      .blocNav{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: 100%;
        background-color: $secondary;

          a{
            display: flex;
            justify-content: space-around;
            align-items: center;
            height: 15%;
            width: 90%;

            .blocSelect{
              background-color: $selectedIcon;
              height: 100%;
              width: 100px;
              margin-right: -162px; //afin de faire disparaitre le bloc
              transition: transform 400ms linear;
            }

            &:hover{
              &>.blocSelect{
                  transform: translateX(-100%);
              }
              &>.icon{
                transform: translateX(99%);
                z-index: 2;
              }
            }
          }

          .icon{
            font-size: 30px;
            color: $tertiary;
          }

          .iconSelected{
            font-size: 45px;
            color: $selectedIcon;
          }

          .hidden{
            display: none;
          }
      }
    }

    .information{
      padding: 20px;
      font-size: 1vw;
      font-family: 'roboto';
    }
  }

  main{
    width: 80%;

    #acceuilHead{
      display: flex;
      align-items: center;
      padding-left: 120px;
      height: 110px;
      border-bottom: 1px solid $primary;
      background-color: $secondary;
      font-family: 'Shrikhand', 'roboto', Impact, 'Arial Narrow Bold', sans-serif;

    }

    #acceuilContent{
      padding: 120px;
      height: 90%;
      overflow: scroll;
      scrollbar-color: $primary $secondary;
      scrollbar-width: thin;
    }
  }
}

